.SidebarNav {
	background: #15171c;
	width: 250px;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	transition: 650ms;
	z-index: 999;
  	color: black;
}

.HideSidebarNav {
	background: #15171c;
	width: 250px;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: -100%;
	transition: 650ms;
	z-index: 10;
}

.SidebarWrap {
  width: 100%;
}

.header-container {
	display: flex;
	justify-content: center;
	width: 100%;
}


  
.trademark-image {
	font-size: large;
	color: white;
}
  
.trademark-letter {
	font-size: large;
	color: white;
	margin-top: 0.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
  
.vertical-line {
	position: relative;
	display: flex;
}
  
.vertical-line::before {
	content: ' ';
	position: absolute;
	top: 0.5rem;
	bottom: 0.25rem;
	left: 0.02rem;
	width: 1px;
	background-color: rgb(255, 255, 255);
}
  
.trademark-symbol {
	margin-top: 0.25rem;
	width: 1.25rem;
}


  




.navLink-list {
	display: flex;
	justify-content: space-around;
}

.header-first-time-user-text {
	font-family: 'Sofia Pro', sans-serif;
	font-size: 1rem;
	font-weight: 800;
	letter-spacing: 0px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-width: 3px;
	padding: 1rem 2rem;
	height: 2rem;
	border-color: white;
	border-radius: 30px;
	color: white;
}

.header-first-time-user-text:hover {
	text-decoration: underline;
}

.head-profile-image {
	height: 2rem;
	width: 2rem;
	border-radius: 0.75rem;

}

.head-trademark-container {
	padding-top: 25%;
	padding-bottom: 15%;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	gap: 1rem;
	height: 10rem;
  }
  

.head-trademark-letter {
	font-size: 1.5rem;
	color: white;
	padding: 0px;
	margin: 0px;
	bottom: 0px;

  }
  
  .head-trademark-symbol {
	width: 1.55rem;
	height: 1.55rem;
	padding: 0px;
	margin: 0px;
  
  }
  
  .head-vertical-line {
	  position: relative;
	  display: flex;
	
  }
  
  .head-vertical-line::before {
	  content: '';
	  position: absolute;
	  top: 0rem;
	  bottom: 0rem;
	  left: 0.02rem;
	  width: 1px;
	  background-color: rgb(255, 255, 255);
  }
  
  .head-crystalball {
	width: 1.95rem;
	height: 1.95rem;
	padding: 0px;
	margin: 0px;
	
	padding-left: 0.5rem;
  }