.HeaderLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.HeaderW {
    color: #ffffff;
    font-family: Fontspring-DEMO-capitana-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.HeaderListThreeFilled {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    fill: var(--Primary-Blue, #148CFB);
}
.HeaderL {
    display: flex;
    width: 23px;
    height: 48px;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
    color: #ffffff;
    font-family: Fontspring-DEMO-capitana-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.HeaderVector {
    width: 3px;
    height: 70px;
    flex-shrink: 0;
    stroke-width: 3px;
    stroke: #ffffff;
    background-color: #ffffff;
    color: #ffffff;
}
.HeaderCrystalBall {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
